.container {
    background-color: #F9D0CC;
    height: 100vh;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 75px;
}

.title {
    padding-top: 160px;
    text-align: center;
    color: #834F4E;
    margin-left: 40px;
}

.link {
    color: #834F4E;
    font-weight: 500;
    cursor: pointer;
}

.button {
    background-color: #834F4E;
    margin-left: 40px;
    color: #F9D0CC;
    font-size: 15px;
    border: none;
    width: 80%;
    height: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    

}

.button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    background-color: #723C3B;
}

.searchbar {
    width: 120%;
    padding: 15px;
    font-size: 15px;
    border: 3px solid #834F4E;
    background-color: #CBD4C5 ;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;

}
