/* temporary styling */
* {
    margin: 0; 
}
.container {
    height: 100vh;
    background-image: url('C:/Users/rioma/cmd-f/public/images/Homepage.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
}

.title {
    color:white; 
    width: 70%;
    background-color: #37532B;
    font-size: 45px;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.desc{
    color: grey;
    padding: 10px;
    width: 40%;
    word-wrap: break-word;
    font-weight: 500;

}

.buttonsContainer {
   display: flex;
   gap: 20px;
   padding: 20px;
}

.buttons {
    font-size: 20px;
    background-color: #F9D0CC;
    border: none;
    color: white;
    display: flex;
    width: auto;
    height: auto;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}