/* temporary styling */
* {
    margin: 0; 
}
.container {
    height: 100vh;
    background-image: url('public/images/Homepage.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color:white; 
    width: 70%;
    background-color: #37532B;
    font-size: 47px;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.desc {
    color: #834F4E;
    padding: 10px;
    max-width: 70%;
    font-weight: 600;
    font-size: 27px;
    padding-top: 20px;
}

.buttonsContainer {
   display: flex;
   gap: 20px;
   padding: 20px;
}

.buttons {
    font-size: 20px;
    background-color: #F9D0CC;
    border: none;
    display: flex;
    width: auto;
    height: auto;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: #37532B;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}