/* temporary styling */

.container {
    height: 100vh;
    background-color: #ECF0E7;
}

.circles {
    background-color: #DDE3D9;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}