
.review {
    background-color:#F9DDD8;
    background-image: linear-gradient(to right, #F3BABA 3px, transparent 3px),
    linear-gradient(to bottom, #f3BABA 3px, transparent 3px);
    background-size: 100px 100px;


    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form {
    max-width: 600px;
    width: 100%;
    background-color: #F2F0EF;
    padding: 25px 25px 30px;
    border-radius: 10px;
   margin: 25px;
}
    







